.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #b7d7e8;
    border: 1px solid #b7d7e8;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #87bdd8;
    border-color: #87bdd8;
}